.meta {
    margin: 10px 0px;
}

.meta i{
    padding-right: 5px;
}

.comment {
    padding: 5px;
    text-align: center;
    margin: 10px 0px;
}
.margin {
    margin: auto;
    width: 50px;
    height: 2px;
}





